* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:sans-serif;
    background-color: #eef3f7;
    color: #333;
    line-height: 1.6;
}
.navbar {
    background-color: #CE1126;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
}
.navbar .links {
    list-style: none;
    display: flex;
}
.navbar .links li {
    margin-left: 30px;
}

.navbar .links a {
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.navbar .links a:hover {
    color: #009246;
}
.container {
    max-width: 960px;
    margin: 40px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.main-header {
    background-color: #fff;
    padding-top: 20px;
    margin-bottom: 40px;
}

.main-header .header-content {
    text-align: center;
}
.main-header h1 {
    color: #009246;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.barrinha {
    width: 95px;
    height: 5px;
    background-color: #FF2C2C;
    margin: 10px auto 0;
    border-radius: 3px;
}
.main-header h2 {
    font-size: 30px;
    color: #333;
    text-align: center;
}

.mapa-barrinha {
    background-color: #009246;
}
.bloco-destaque {
    display: flex;
    margin-bottom: 50px;
    padding-top: 20px;
    gap: 40px;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}
.imagem-container {
    flex: 1.2;
    border: 5px solid #009246;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 16 / 10; 
}

.imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.5s ease-in-out; 
}
.texto-container {
    flex: 1; 
}
.texto-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    font-weight: 600;
}
.texto-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

.btn {
    padding: 12px 25px;
    background-color: #FF2C2C;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
.bloco-colunas {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e0e0e0;
}
.coluna {
    flex: 1;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.coluna h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #009246;
    border-bottom: 2px solid #009246;
    padding-bottom: 5px;
}

.coluna p {
    font-size: 15px;
    color: #555;
    margin-bottom: 15px;
    text-align: justify;
}
.lista-icones {
    list-style: none;
    font-size: 15px;
}
.lista-icones li {
    margin-bottom: 12px;
    padding-bottom: 8px;
}

.bloco-localizacao {
    padding-top: 10px;
    margin-top: 10px;
}

.mapa-container iframe {
    width: 100%;
    height: 350px;
    border: 3px solid #ccc;
    border-radius: 10px;
}
footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    font-size: 15px;
}